h4.fl Upload File
br
= f.file_field :doc_file
br
= text_field "file_name","upload",:placeholder =>'Enter File Name'
br
= f.select :doc_relevance, [["High","High"],["Medium","Medium"],["Low","Low"]],{:prompt => 'Select Relevance'}
br
= f.select :doc_privacy, [["Public","Public"],["Confidential","Confidential"],["Private & Confidential ","Private_and_Confidential "]],{:prompt => 'Select Privacy'}
br
= f.submit "Upload", :class =>"btn btn-primary"
	
	