@import 'mixins';

input[type='text'] {
	height: 27px;
}

ul {
	margin: 0 auto;
	li {
		list-style: none;
	}
}

.content_white {
	padding: 20px;
	@include component;
}

.left_container {
	float: left;
	width: 300px;
}
.right_container {
	float: left;
	width: 640px;
	@include ml10;
}

.menu {
	@include component;
}

.list_link {
	padding: 5px 10px;
	background: #F9F9F9;
	border-bottom: 1px solid #EEE;
	@include tdn;
	display: block;
	&:hover {
		background: #FFF;
		color: #333;
		@include tdn;
	}
}
.list_link.first {
	@include top_rad5;
}
.list_link.last {
	border: none;
	@include bot_rad5;
}


