@import 'mixins';

@mixin menu_active {
	background: #FFF;
	color: #333;
	@include tdn;
}

@mixin item_border {
	border-bottom: 1px solid #EEE;
}
@mixin item_children_border {
	border-bottom: 1px solid #E0E0E0;
}
form {
	margin: 0px !important;
}

input[type='text'] {
	height: 27px;
}

ul {
	margin: 0 auto;
	li {
		list-style: none;
	}
}

.content_white {
	@include p10;
	@include component;
}

.content_dirty_white {
	@include component;
	background: $dirty_white;
	@include p10;
}

.left_container {
	float: left;
	width: 300px;
}
.right_container {
	float: left;
	width: 640px;
	@include ml10;
}

.menu {
	@include component;
}

.list_link {
	padding: 5px 10px;
	background: #F9F9F9;
	@include item_border;
	@include tdn;
	display: block;
	&:hover {
		@include menu_active
	}
}
.list_link.active {
	@include menu_active	
}
.list_link.first {
	@include top_rad5;
}
.list_link.last {
	border: none;
	@include bot_rad5;
}
.light_text {
	@include light_text
}
.beautify_params {
	@include mb5;
	clear: both;
}

ul > li.item {
	@include relative;
	@include p10;
	@include item_border;
	.pic {
		@include mr10;
		@include fl;
	}
	.item_content {
		width: 545px;
		@include fl;
	}
	.item_links {
		@include absolute;
		top: 0px;
		right: 0px;
		background: #FFF;
		padding: 5px;
		@include dn;
	}
	&:hover .item_links {
		@include db;
	}
}

ul.item_children > li {
	@include p10;
	@include item_children_border;
	background: $commets_white;
	.pic {
		@include mr10;
		@include fl;
	}
	.item_content {
		width: 565px;
		@include fl;
	}
}

.fb {
	@include fb;
}