@mixin glyph_icons {
	background-image: url("../assets/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  width: 14px;
}
.attachment {
	@include glyph_icons;
	background-position: -24px -24px;
}
.icon_right_arrow {
	@include glyph_icons;
	background-position: -456px -72px;
}
